{
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "php",
                    "go",
                    "json"
                ]
            }
        ]
    ]
}